* {
    box-sizing: border-box;
}

#navbar {
    font-size: 20px;
    color: #fff;
    padding: 20px 50px 20px 30px;
    background-color: #1D8308;
    /*
    Verde: #1D8308
    Negro: #151715
    */
}

.navbar-brand {
    font-size: 25px;
}

.navbar-text {
    color: #fff;
    margin-left: 15px;
}

body {
    font-size: 16px;
    background-color: #fff;
}

/* Home styles */

.item {
    background-color: #C5C8C5;
}

.field-divider {
    padding: 11px 20px;
}

.item-field {
    font-size: 18px;
    margin-bottom: 0px;
}

.item-info {
    font-size: 16px;
    margin-bottom: 0;
}

/* Post a rent syles */

.post-rent-title {
    font-size: 36px;
}

.post-rent-item {
    font-size: 29px;
}

.post-rent-description {
    font-size: 18px;
}

.post-rent-input {
    width: 100%;
}

.post-rent-button {
    width: 100%;
}

/* Specific rent style */

.card-image {
    position: relative;
    top: -50px;
}